<div class="container">
  <h1 class="text-center card-header my-2">Editar Reclamo</h1>

  <%= render 'form', queja: @queja %>

  <%= link_to 'Atras',  queja_path(@queja), :class => "center-block btn btn-dark btn-lg btn-block w-75 mt-5"  %>
</div>

