<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">


</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
</div>
<div style="position:absolute;left:367.44px;top:26.80px" class="cls_003"><span class="cls_003">CERTIFICADO N°</span><span class="cls_004"> 74773</span></div>
<div style="position:absolute;left:50.40px;top:41.20px" class="cls_005"><span class="cls_005">SISA-FUMIGACIONES</span></div>
<div style="position:absolute;left:50.40px;top:62.92px" class="cls_006"><span class="cls_006">SISTEMA INTEGRAL DE SANEAMIENTO AMBIENTAL</span></div>
<div style="position:absolute;left:489.60px;top:49.12px" class="cls_011"><span class="cls_011">C</span></div>
<div style="position:absolute;left:50.40px;top:90.40px" class="cls_007"><span class="cls_007">PADRON N° 68.023/03 - CAM-SLA 50.429/03  CUIT:27-02898301-3</span></div>
<div style="position:absolute;left:361.21px;top:90.40px" class="cls_007"><span class="cls_007">20-22583332-0</span></div>
<div style="position:absolute;left:50.40px;top:102.28px" class="cls_007"><span class="cls_007">ADMINISTRACION & VENTAS: MANZANA N° 748  LOTE N°8</span></div>
<div style="position:absolute;left:50.40px;top:114.28px" class="cls_007"><span class="cls_007">BARRIO SANTA ANA II  -  CP 4400 -SALTA CAPITAL</span></div>
<div style="position:absolute;left:50.40px;top:126.16px" class="cls_007"><span class="cls_007">TELEFONOS: (0387)4291082</span></div>
<div style="position:absolute;left:194.90px;top:126.16px" class="cls_007"><span class="cls_007">-</span></div>
<div style="position:absolute;left:206.51px;top:126.16px" class="cls_007"><span class="cls_007">(0387) 4248560</span></div>
<div style="position:absolute;left:50.40px;top:171.76px" class="cls_002"><span class="cls_002">Fecha de Aplicación:25 DE MARZO DE 2021</span></div>
<div style="position:absolute;left:374.40px;top:171.76px" class="cls_002"><span class="cls_002">Hora:</span></div>
<div style="position:absolute;left:403.20px;top:171.64px" class="cls_002"><span class="cls_002">13:00:00</span></div>
<div style="position:absolute;left:50.40px;top:200.56px" class="cls_002"><span class="cls_002">Apellido y Nombre:</span></div>
<div style="position:absolute;left:136.80px;top:200.44px" class="cls_002"><span class="cls_002">AMX  ARGENTINA  S.A.</span></div>
<div style="position:absolute;left:272.27px;top:200.44px" class="cls_002"><span class="cls_002">25/03/21</span></div>
<div style="position:absolute;left:50.40px;top:229.36px" class="cls_002"><span class="cls_002">Domicilio:</span></div>
<div style="position:absolute;left:100.80px;top:229.24px" class="cls_002"><span class="cls_002">BARTOLOME  MITRE  N°143</span></div>
<div style="position:absolute;left:50.40px;top:258.16px" class="cls_002"><span class="cls_002">Barrio:</span></div>
<div style="position:absolute;left:84.96px;top:258.04px" class="cls_002"><span class="cls_002">SALTA  -  CAPITAL</span></div>
<div style="position:absolute;left:266.40px;top:258.16px" class="cls_002"><span class="cls_002">Tel/Cel:387 155019548</span></div>
<div style="position:absolute;left:50.40px;top:294.16px" class="cls_002"><span class="cls_002">Rubro:</span></div>
<div style="position:absolute;left:93.60px;top:294.04px" class="cls_002"><span class="cls_002">TELEFONIA  CLARO</span></div>
<div style="position:absolute;left:50.40px;top:315.76px" class="cls_002"><span class="cls_002">Comercial</span></div>
<div style="position:absolute;left:136.84px;top:315.76px" class="cls_002"><span class="cls_002">Industrial</span></div>
<div style="position:absolute;left:225.35px;top:315.76px" class="cls_002"><span class="cls_002">Particular</span></div>
<div style="position:absolute;left:318.96px;top:315.76px" class="cls_002"><span class="cls_002">Educacional</span></div>
<div style="position:absolute;left:431.96px;top:315.76px" class="cls_002"><span class="cls_002">Estatal</span></div>
<div style="position:absolute;left:518.42px;top:315.76px" class="cls_002"><span class="cls_002">Otros</span></div>
<div style="position:absolute;left:50.40px;top:351.76px" class="cls_002"><span class="cls_002">Tratamiento:</span></div>
<div style="position:absolute;left:122.40px;top:351.76px" class="cls_002"><span class="cls_002">Aspersión</span></div>
<div style="position:absolute;left:223.18px;top:351.76px" class="cls_002"><span class="cls_002">Humo</span></div>
<div style="position:absolute;left:302.45px;top:351.76px" class="cls_002"><span class="cls_002">Niebla</span></div>
<div style="position:absolute;left:388.81px;top:351.76px" class="cls_002"><span class="cls_002">Otros</span></div>
<div style="position:absolute;left:50.40px;top:387.76px" class="cls_002"><span class="cls_002">Vector Tratado:   Insectos</span></div>
<div style="position:absolute;left:201.57px;top:387.76px" class="cls_002"><span class="cls_002">Roedores</span></div>
<div style="position:absolute;left:276.50px;top:387.76px" class="cls_002"><span class="cls_002">Voladores</span></div>
<div style="position:absolute;left:352.84px;top:387.76px" class="cls_002"><span class="cls_002">Bacterias</span></div>
<div style="position:absolute;left:424.85px;top:387.76px" class="cls_002"><span class="cls_002">Otros</span></div>
<div style="position:absolute;left:50.40px;top:423.76px" class="cls_002"><span class="cls_002">Superfice Tratada:</span></div>
<div style="position:absolute;left:144.00px;top:424.36px" class="cls_002"><span class="cls_002">H/300</span></div>
<div style="position:absolute;left:367.16px;top:423.76px" class="cls_002"><span class="cls_002">Veneno Clase:</span></div>
<div style="position:absolute;left:439.20px;top:423.64px" class="cls_002"><span class="cls_002">C</span></div>
<div style="position:absolute;left:50.40px;top:459.76px" class="cls_002"><span class="cls_002">Droga Usada:</span></div>
<div style="position:absolute;left:136.84px;top:459.76px" class="cls_002"><span class="cls_002">Piretroydes</span></div>
<div style="position:absolute;left:241.91px;top:459.76px" class="cls_002"><span class="cls_002">Bromadilone</span></div>
<div style="position:absolute;left:352.78px;top:459.76px" class="cls_002"><span class="cls_002">Otros:</span></div>
<div style="position:absolute;left:51.12px;top:492.16px" class="cls_002"><span class="cls_002">Antidoto: 1 - Piretroydes: tratamiento Sintomático - Bromadilone: Vitamina K1 - DDVP: Sulfato de Atropina.</span></div>
<div style="position:absolute;left:51.12px;top:511.60px" class="cls_002"><span class="cls_002">Recomendaciones: 1 - mantener cerrado el ambiente tratado mínimo 4 horas, ventilar y lavar (sin lavandina) las</span></div>
<div style="position:absolute;left:51.12px;top:523.48px" class="cls_002"><span class="cls_002">superficioes de uso culinario, etc.</span></div>
<div style="position:absolute;left:70.80px;top:556.84px" class="cls_012"><span class="cls_012">La firma brinda garantia de satifacción, validez 30 días corridos posteriores al servicio, sin excepción.</span></div>
<div style="position:absolute;left:42.48px;top:578.56px" class="cls_009"><span class="cls_009">GARANTIA SUJETA A INSPECCIONES TECNICAS, A LAS CONDICIONES DE HIGENE, EDILICIAS, CLIMATICAS, AL GRADO DE</span></div>
<div style="position:absolute;left:42.48px;top:589.36px" class="cls_009"><span class="cls_009">INFESTACION Y AL TIPO DE PLAGA -  LA EFICTIVIDAD DEL SERVICIO NO DEPENDE DE LAS FECHAS DE APLICACION Y</span></div>
<div style="position:absolute;left:42.48px;top:600.16px" class="cls_009"><span class="cls_009">VENCIMIENTO DE ESTE CERTIFICADO, SOLO DEL PLAN DE TRABAJO ACORDADO. COMERCIOS DONDE SE EXPENDA,</span></div>
<div style="position:absolute;left:42.48px;top:610.96px" class="cls_009"><span class="cls_009">ELABORE,FRACCIONE Y ALMACENE ALIMENTOS, LA CERTIFICACION DE SERVICIOS NO SERA SUPERIOR A LOS 60 DIAS,</span></div>
<div style="position:absolute;left:42.48px;top:621.76px" class="cls_009"><span class="cls_009">SEGÚN ORDENANZA N° 12.157/04 - DECRETO N°917/98 DE LA MUNICIPALIDAD DE LA CIUDAD DE SALTA.</span></div>
<div style="position:absolute;left:42.48px;top:640.36px" class="cls_002"><span class="cls_002">OBSERVACIONES:</span></div>
<div style="position:absolute;left:93.12px;top:675.64px" class="cls_002"><span class="cls_002">25 DE ABRIL DE 2021</span></div>
<div style="position:absolute;left:417.12px;top:675.64px" class="cls_002"><span class="cls_002">25 DE ABRIL DE 2021</span></div>
<div style="position:absolute;left:103.92px;top:690.04px" class="cls_010"><span class="cls_010">Fecha de Vencimiento</span></div>
<div style="position:absolute;left:427.92px;top:690.04px" class="cls_010"><span class="cls_010">Fecha de Vencimiento</span></div>
<div style="position:absolute;left:104.52px;top:764.20px" class="cls_010"><span class="cls_010">RECIBE CONFORME</span></div>
<div style="position:absolute;left:447.96px;top:764.20px" class="cls_010"><span class="cls_010">Por S.I.S.A</span></div>
<div style="position:absolute;left:419.76px;top:772.12px" class="cls_010"><span class="cls_010">Gerente o Director Técnico</span></div>
</div>

</body>
</html>


<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:14.1px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:14.1px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:20.1px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:20.1px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:24.1px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:24.1px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,Arial;font-size:10.0px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:10.0px;color:rgb(0,128,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:10.0px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_012{font-family:Arial,serif;font-size:10.0px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>