        <button type="button" id="BuscarCliente" class="btn btn-info" data-toggle="modal" data-target="#buscador_cliente">
          Buscar Cliente
        </button>
        
         <div id="cliente_id_orden_fumigacion" class="cliente_id col-md-3" > 
          <%= "Cliente: " %>
         </div>
         
         <button type="button" id="BuscarTecnico" class="btn btn-info" data-toggle="modal" data-target="#buscador_tecnico">
          Buscar Tecnico
        </button>
        
         <div id="tecnico_id_orden_fumigacion" class="tecnico_id col-md-3" > 
          <%= "Tecnico: " %>
         </div>

  
<%= render "buscador_cliente",cliente: @cliente %>
<%= render "buscador_tecnico",tecnico: @tecnico %>