<div class="container">
  <h1 class="text-center card-header my-2">Editar Fumigacion</h1>

  <%= render 'form', orden_fumigacion: @orden_fumigacion %>

  <%= link_to 'Atras',  orden_fumigacion_path(@orden_fumigacion), :class => "center-block btn btn-dark btn-lg btn-block w-75 mt-5"  %>
</div>

