<!DOCTYPE html>
<html lang="es">
  <head><meta charset=UTF-8">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Faja</title>
  </head>
  <body>
    
  </body>
</html>
<style type="text/css">

  body {
  position: relative;
  width: 29.7cm;
  height: 21cm;
  margin: 0 auto; 
  
  
  font-family: Arial, Arial; 
  font-size: 14px; 
  font-family: Arial;
  
}

</style>